<!DOCTYPE html>
<html>
  <head>
    <title>Predict Customer Churn</title>
  </head>
  <body>
    <div>
      <h1>Predict Customer Churn</h1>
      <form method="POST">
        <!-- Tenure Months -->
        <label for="tenure_months">Tenure Months:</label><br />
        <input
          type="text"
          id="tenure_months"
          name="tenure_months"
          value="5"
        /><br /><br />

        <!-- Contract Type -->
        <label for="contract_type">Contract Type:</label><br />
        <select name="contract_type" id="contract_type" required>
          <option value="0">Month-to-month</option>
          <option value="1">One year</option>
          <option value="2">Two year</option></select
        ><br /><br />

        <!-- Total Monthly Fee -->
        <label for="total_monthly_fee">Total Monthly Fee:</label><br />
        <input
          type="text"
          id="total_monthly_fee"
          name="total_monthly_fee"
          value="28.45"
        /><br /><br />

        <!-- Total Charges Quarter -->
        <label for="total_charges_quarter">Total Charges Quarter:</label><br />
        <input
          type="text"
          id="total_charges_quarter"
          name="total_charges_quarter"
          value="131.05"
        /><br /><br />

        <!-- Age -->
        <label for="age">Age:</label><br />
        <input type="text" id="age" name="age" value="75" /><br /><br />

        <!-- Has Internet Service -->
        <label for="has_internet_service">Has Internet Service:</label><br />
        <select name="has_internet_service" id="has_internet_service" required>
          <option value="true">Yes</option>
          <option value="false">No</option></select
        ><br /><br />

        <!-- Has Phone Service -->
        <label for="has_phone_service">Has Phone Service:</label><br />
        <select name="has_phone_service" id="has_phone_service" required>
          <option value="true">Yes</option>
          <option value="false">No</option></select
        ><br /><br />

        <!-- Has Premium Tech Support -->
        <label for="has_premium_tech_support">Has Premium Tech Support:</label
        ><br />
        <select
          name="has_premium_tech_support"
          id="has_premium_tech_support"
          required
        >
          <option value="true">Yes</option>
          <option value="false">No</option></select
        ><br /><br />

        <!-- Has Online Security -->
        <label for="has_online_security">Has Online Security:</label><br />
        <select name="has_online_security" id="has_online_security" required>
          <option value="true">Yes</option>
          <option value="false">No</option></select
        ><br /><br />

        <!-- Paperless Billing -->
        <label for="paperless_billing">Paperless Billing:</label><br />
        <select name="paperless_billing" id="paperless_billing" required>
          <option value="true">Yes</option>
          <option value="false">No</option></select
        ><br /><br />

        <input type="submit" value="Predict" />
      </form>

      {% if prediction is defined %}
      <h2>Model Prediction: {{ prediction }}</h2>
      {% endif %}
    </div>
  </body>
</html>
